.header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: whitesmoke;
    z-index: 5;
}

.first-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.hamburger-menu{
    width: 25px;
    margin: 0px 25px;
}

.youtube-logo{
    height: 25px;
}

.second-section{
    flex: 1;
    max-width: 800px;
    margin-right: 200px;
    margin-left: 300px;
    display: flex;
    align-items: center;
}

.search-bar{
    flex: 0.9;
    height: 38px;
    padding-left: 8px;
    font-size: 20px;
    border: 1px solid rgb(160, 160, 160);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: inset 2px 3px 1px rgba(177, 176, 176, 0.1);
    width: 0; /*shrinks item as much as possible*/
}

.search-bar::placeholder{
    font-size: 20px;
    padding-left: 12px;
}

.search-button{
    width: 64px;
    height: 40px;    
    margin-right: 12px;
    margin-left: -3px;
    border: 1px solid rgb(160, 160, 160);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.voice-search-button,.search-button,.upload-icons,.apps-icon,.notify-icon{
    position: relative;
    display: flex;
    justify-content: center;
}

.tooltip{
    position: absolute;
    background-color: rgb(92, 90, 90);
    color: white;
    padding: 4px 6px;
    border-radius: 8px;
    font-size: x-small;
    opacity: 0;
    bottom: -40px;
    transition: opacity 0.2s;
    white-space: nowrap; /*text doesnt get wrapped (search with your voice example)*/
    pointer-events: none; /*even when the mouse hovers on the tooltip, tooltip wont be visible*/
}

.search-button:hover .tooltip,.voice-search-button:hover .tooltip,.upload-icons:hover .tooltip
,.apps-icon:hover .tooltip,.notify-icon:hover .tooltip{
    opacity: 1;
}

.search-icon{
    width: 25px;
    height: 36px;
}

.voice-search-button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(241, 241, 241);
}

.voice-search-icon{
    width: 26px;
    height: 40px;
}

.third-section{
    width: 20%;
    /*background-color: lightseagreen;*/
    display: flex;
    align-items: center;
    margin-left: 15px;
    justify-content: space-evenly;
    flex-shrink: 0;/*the flex item doesnt shrink */
}

.upload-icon,.youtube-apps-icon,.notifications-icon{
    width : 35px;
    height: 35px;
    border: none;
}

.profile-icon{
    width: 40px;
    height: 40px;
}

.notify-icon{
    position: relative;
}

.notify-number{
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: red;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
}